@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');
@import 'tailwindcss';

@theme {
  --color-tile-bg: rgba(248, 248, 252, 0.85);

  --text-4xl: 32px;
  --text-3xl: 28px;
  --text-2xl: 24px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-2xs: 10px;

  --container-lg: 1165px;
  --container-md: 760px;
}

@layer utilities {
  .shadow-tile {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .custom-checkbox input {
    display: none;
  }

  .custom-checkbox .checkmark {
    width: 100%;
    height: 20px;
    border: 1.5px solid #aeaeb2;
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
    transition: all 0.2s;
  }

  .custom-checkbox input:checked + .checkmark {
    background-color: #0171e2;
    border-color: #0171e2;
  }

  .custom-checkbox .checkmark::after {
    content: '';
    position: absolute;
    display: none;
  }

  .custom-checkbox input:checked + .checkmark::after {
    display: block;
  }

  .custom-checkbox .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

body {
  @apply m-0;
  font-family:
    'Pretendard Variable',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
